/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 15 Apr 2023, 3:28:34 pm
    Author     : lawka
*/

body {
	background-color: #f2f2f2;
	font-family: Arial, sans-serif;
}

.container {
	width: 80%;
	max-width: 600px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px #888;
}

h1 {
	text-align: center;
	color: #333;
}

label {
	display: block;
	margin-top: 20px;
	color: #555;
	font-size: 18px;
}

input[type="text"], input[type="email"], input[type="number"], textarea, select {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 15px;
	box-sizing: border-box;
}

input[type="date"] {
	width: 49%;
}

input[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	margin-top: 20px;
}

input[type="submit"]:hover {
	background-color: #3e8e41;
}